$dark_main_color: #45ADFF;
$dark_button_color: #378ACC;
$dark_button_hover_color: #2C6EA3;
$dark_white: #F4F5F6;
$black: #343f47;
$dark_back: #16202C;
$header_color: #131B24;
$hover_block: #10171F;
$hover_menu: #0F161D;
$dark_green: #55BE66;
$dark_red: #F11D43;
$input_focus: #20262D;