$main_color: #48bbf8;
$error_color: #f34646;
$inactive_field: #edf5f3;
$active_field: #FFFFFF;
$background: #F4F5F6;
$white: #FFFFFF;
$black: #364149;
$hover:#E4FBFE;
$fade:rgba(4, 18, 27, 0.1);
$button_hover: #48cff8;
