@import '../../lightmode_colors.module.scss';
@import '../../darkmode_colors.module.scss';

$button_height: 80px;

@mixin flexible() {
  display: flex;
  align-items: center;
}

.lightTheme {

  .container_content_right_title {
    color: $black;
  }

  .speak_container_content_translate {
    color: $grey;
  }

  .speack_button {
    background: $white;
    border: 2px solid $main_color;
  }

  .answer_result_text {
    color: #FFF;
  }


  .wrongAnswer {
    background-color: $error_color;
  }

  .rightAnswer {
    background-color: $green;
  }

  .listening {
    border-color: $green;
  }
}

.darkTheme {

  .container_content_right_title {
    color: $dark_white;
  }
  .container_content_right_content {
    background-color: $header_color;
  }

  .speak_container_content_translate {
    color: $dark_white;
  }

  .speack_button {
    background-color: $dark_white;
    border: 2px solid $dark_back;
  }

  .answer_result_text {
    color: $dark_white;
  }

  .answer_button {
    background-color: $dark_button_color;
    color: $dark_white;
    border: none;

    &:hover {
      background-color: #2C6EA3;
      color: $dark_white;
    }
  }

  .wrongAnswer {
    background-color: $dark_red;
  }

  .rightAnswer {
    background-color: $dark_green;
  }

  .listening {
    border-color: $dark_green;
    border: 3px solid $dark_green;

  }

  .card {
    background-color: $header_color;
    color: $dark_white;
  }

  .themeCard {
    background-color: $header_color;
  }

}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}

.container {
  @include flexible();
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &_header {
    width: 100%;
  }

  &_content {
    max-width: 1150px;
    width: 90%;
    margin-top: 50px;
    @include flexible();
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    a {
      text-decoration: none;
    }
  }
}

.container_content_right {
  @include flexible();
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 20px;

  &_content {
    width: 100%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }

  &_title {
    text-decoration: none;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    margin: 0;
  }
}

.speak_container {
  margin: 30px 0;
  width: 90%;
  overflow: auto;
  @include flexible();
  gap: 24px;

  &_title {
    margin: 0;
    text-align: center;
  }
}

.image {
  width: 32px;
  cursor: pointer;
}

.speak_container_content {
  $fz: 16px;
  $mg: 10px;

  &_text {
    font-size: $fz;
    margin: 0 0 $mg;
    font-weight: 500;
  }

  &_translate {
    font-size: calc($fz - 2px);
    font-weight: 400;
    margin: $mg 0 0;
  }
}

.emptyElement {
  height: 10px;
}

.answer {
  @include flexible();
  justify-content: center;
  width: 100%;
}

.answer_result {
  @include flexible();
  width: 60%;
  border-radius: 10px;

  &_text {
    margin: 0px;
    padding: 9px 10px;
    text-align: center;
    width: 100%;
  }

  &_img {
    padding: 7px;
    padding-left: 15px;
  }
}

.speack_button {
  height: $button_height;
  width: $button_height;
  border-radius: 65%;
  cursor: pointer;

  &_micro {
    width: 25px;
  }
}

.answer_button {
  padding: 20px 25px;
}

.card{
  border-radius:20px;
  padding: 20px 30px;
}