.level_check_container {
  width: 100%;
  min-height: 100vh;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.check_level {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button_style {
  display: block;
  width: 100%;
}

.link_container {
  width: 60%;
}

.title {
  font-weight: 700;
  color: black;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 70px;
}
