@import "../../lightmode_colors.module.scss";

@mixin flexible() {
  display: flex;
  align-items: center;
}

.container {
  @include flexible();
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &_header {
    background-color: $white;
    width: 100%;
  }

  x &_content {
    max-width: 1150px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
    height: 900px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }

  &_settings {
    padding-left: 30px;

    h1 {
      color: $main_color;
    }
  }

  .edit_password {
    width: auto;
    //padding: 20px;
    padding: 16px 24px;
    font-size: 16px;
  }
}

.settings_form {
  @include flexible();
  justify-content: center;
  flex-direction: column;
}

.input {
  background: #FFFFFF;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  width: 240px;
  height: 40px;
  padding: 0 8px;
  &_span {
    width: 100%;
    margin: 16px 0 5px;
  }
}