@import "../../lightmode_colors.module.scss";

@mixin center {
  align-items: center;
  justify-content: center;
}

.choice_level_container {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  display: flex;
  @include center();
}

.form_container {
  width: 80%;
  text-align: center;
  @include center();

  p {
    font-weight: 700;
    color: $black;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 70px;
  }
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-left: 10%;
  padding-right: 10%;
  @include center();

  .button_style {
    width: 200px;
  }
}
