@import '../../lightmode_colors.module.scss';
@import '../../darkmode_colors.module.scss';

@mixin flexible() {
  display: flex;
  align-items: center;
}

.lightTheme {
  .container {
    h1 {
      color: $main_color;
    }
  }

  .container_content {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  }

  .autors {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  }
}

.darkTheme {
  .container {
    h1 {
      color: $dark_white;
    }
  }

  .container_content {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  }

  .autors {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  }
}

.container {
  @include flexible();
  flex-direction: column;
  width: 100%;
  height: 100%;

  &_header {
    width: 100%;
  }

  &_content {
    max-width: 1150px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .info_about_owleng {
      font-size: 19px;
      margin-bottom: 15px;
    }
  }

  .grid_autors {
    flex-direction: row;
    @include flexible();
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .autors {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin-bottom: 2%;
    padding: 0px 0px 0px;
    width: 30%;
    border-radius: 40px;
  }

  .autors_container_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}

@media (max-width: 1200px) {
  .container {

    &_content {
      width: 90%;
    }

    h1 {
      font-size: 28px;
    }

    &_info {


      .info_about_owleng {
        font-size: 16px;
        margin: 0 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 6px 0;
        }
      }
    }
  }
}


@media (max-width: 1025px) {
  .container {

    .autors {
      width: 32%;
    }
  }
}

@media (max-width: 900px) {
  .container {

    .autors {
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  .container {

    .autors {
      width: 51%;
    }
  }
}

@media (max-width: 680px) {
  .container {

    .autors {
      width: 71%;
    }
  }
}

@media (max-width: 480px) {
  .container {

    &_content {
      margin-bottom: 25px;
    }

    &_info {


      .info_about_owleng {
        font-size: 14px;
      }
    }

    .autors {
      width: 80%;
    }
  }
}