@import '../../../lightmode_colors.module.scss';
@import '../../../darkmode_colors.module.scss';

@mixin center {
  align-items: center;
  justify-content: center;
}

.lightTheme{

}

.darkTheme{
  
}


.level_test_container {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  display: flex;
  @include center();
}

.form_container {
  width: 80%;
  text-align: center;
  @include center();

  p {
    font-weight: 700;
    color: $black;
    font-size: 2em;
    line-height: 35px;
    margin-bottom: 70px;
    line-height: 1em;
  }
}

.answer_button {
  width: 40%;
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  @include center();
  gap: 12px;
}

.card {
  padding: 73px 196px;
  width: 250px;
  height: 200px;

  a {
    text-decoration: none;
  }

  &_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $black;
  }

  &_result_button {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 15px;
    margin: 0px 0px 0px 0px;
  }
}

.card_result_button {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    padding: 56px 128px;
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 680px) {
  .form_container {
    p {
      font-size: 1.6em;
      margin-bottom: 56px;
    }
  }

  .answer_button {
    padding: 20px 5px;
  }

  .card {
    padding: 48px 96px;
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 468px) {
  .form_container {
    p {
      font-size: 1.4em;
      margin-bottom: 48px;
    }
  }

  .answer_button {
    padding: 18px 5px;
  }

  .card {
    padding: 32px 64px;
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 24px 32px;
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .form_container {
    p {
      font-size: 1.2em;
      margin-bottom: 40px;
    }
  }

  .answer_button {
    padding: 16px 5px;
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}
