@import '../../lightmode_colors.module.scss';
@import '../../darkmode_colors.module.scss';

@mixin flexible() {
  display: flex;
  align-items: center;
}

@mixin setBack() {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.lightTheme {

  .answer_button {
    background-color: $white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    color: $black;

    &:hover {
      background-color: $button_hover;
      color: $white;
    }
  }

  .answer_button_wrong {
    color: red;
  }

  .answer_button_correct {
    color: rgb(3, 151, 3);
  }

  .question {
    color: $black;
  }

}

.darkTheme {

.question_container_text{
  background-color: $header_color;
}

  .answer_button {
    background-color: $header_color;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    color: $dark_white;
    border: none;

    &:hover {
      background-color: $hover_menu;
      color: $dark_white;
    }
  }

  .question {
    color: $dark_white;
  }

  .answer_button_wrong {
    color: $dark_red;
  }

  .answer_button_correct {
    color: $dark_green;
  }

  .next_question_button {
    background-color: $dark_button_color;
    color: $dark_white;
    border: none;

    &:hover {
      background-color: #2C6EA3;
      color: $dark_white;
    }
  }

  .content_container {
    background-color: $header_color;
  }

  .card {
    background-color: $header_color;
    color: $dark_white;
  }

  .themeCard {
    background-color: $header_color;
  }
}

.container {
  @include flexible();
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &_header {
    width: 100%;
  }

  &_content {
    max-width: 1150px;
    width: 90%;
    margin-top: 50px;
    @include flexible();
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    a {
      text-decoration: none;
    }
  }
}

.container_content_right {
  @include flexible();
  flex-direction: column;
  display: flex;

  width: 60%;
  gap: 20px;
  height: 600px;
  //box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.button_style {
  padding: 22px 10px;
  font-size: 16px;
}

.name_tests {
  text-align: center;
  font-size: 20px;
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.answer_button {
  min-width: 40%;
  min-width: 70px;
  word-wrap: break-all;
}

.card {
  padding: 73px 196px 73px 196px;
  margin-top: 10%;
}



.question_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_text {
    @include setBack();
    margin-bottom: 20px;
  }
}

.question {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  display: block;
  line-height: 1em;
  padding: 5px 10px;
}

.block_custom_button {
  position: absolute;
  margin-top: 300px;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}

.themeCard {
  border-radius: 20px;
  margin-top: 20px;
}

.arrow_active {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 6px;
}