@import "../../lightmode_colors.module.scss";

@mixin flexible() {
  display: flex;
  align-items: center;
}

@mixin setBack() {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.container {
  @include flexible();
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &_header {
    background-color: $white;
    width: 100%;
  }

  &_content {
    max-width: 1150px;
    width: 90%;
    margin-top: 50px;
    @include flexible();
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    a {
      text-decoration: none;
    }
  }
}

.container_content_left {
  @include flexible();
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 600px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  &_title {
    color: $main_color;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.container_dropdown {
  width: 80%;
  height: 90%;
  margin: 30px 0;
}

.dropdown_arrow {
  width: 12px;
}

.rotate_arrow_180 {
  transform: rotate(180deg);
}

.dropdown_text {
  display: inline-block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.container_content_right {
  @include flexible();
  flex-direction: column;
  display: flex;

  width: 60%;
  gap: 20px;
  height: 600px;
  //box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.button_style {
  padding: 22px 10px;
  font-size: 16px;
}

.name_tests {
  text-align: center;
  font-size: 20px;
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.answer_button {
  min-width: 40%;
  background-color: $white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  color: $black;
  min-width: 70px;
  word-wrap: break-all;
}

.card {
  padding: 73px 196px 73px 196px;
  margin-top: 10%;
}

.answer_button_wrong {
  color: red;
}

.answer_button_correct {
  color: rgb(3, 151, 3);
}

.question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_text {
    @include setBack();
    margin-bottom: 20px;
  }
}

.question {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  color: $black;
  display: block;
  line-height: 1em;
  padding: 5px 10px;
}

.block_custom_button {
  position: absolute;
  margin-top: 300px;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}

.themeCard {
  border-radius: 20px;
  margin-top: 20px;
}

.test {
}

.arrow_active {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 6px;
}
