@import "../../../lightmode_colors.module.scss";

$button_pudding: 24px;

.custom_button {
  color: $white;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  box-sizing: border-box;
  background: $main_color;
  border: 1px solid $inactive_field;
  border-radius: 16px;
  padding-top: $button_pudding;
  padding-bottom: $button_pudding;
  margin: 8px 0;
  line-break: auto;

  &:hover {
    background-color: $button_hover;
  }
}

@media (max-width: 1025px) {
  .custom_button {
    font-size: 18px;
  }
}

@media (max-width: 769px) {
  .custom_button {
    font-size: 16px;
  }
}

@media (max-width: 321px) {
  .custom_button {
    font-size: 14px;
  }
}