.custom_button {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 130%;
  line-height: 22px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  background: #48bbf8;
  border: 1px solid #efefef;
  border-radius: 40px;
  padding-top: 29px;
  padding-bottom: 29px;
  margin: 8px 8px 8px 8px;
  line-break: auto;
}

.custom_button:hover {
  background-color: #00c7ff;
}
