@import '../../../lightmode_colors.module.scss';
@import '../../../darkmode_colors.module.scss';

$left_img_weight: 18px;

@mixin flexible() {
	display: flex;
	align-items: center;
}


.lightTheme{

}

.darkTheme{
  
}

.header {
	width: 100%;
	display: none;
	max-height: 96px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
	z-index: 0;

	h1 {
		margin: 0;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: $main_color;
	}

	&_container {
		padding: 12px 32px;
		@include flexible();
		justify-content: space-between;
	}
}

.darkmodetoggle{
	svg{
		position: relative;
		top: 1px;
	}
}

.user_level {
	@include flexible();
	gap: 10px;

	p {
		font-style: normal;
		font-weight: 500;
		line-height: 23px;
		margin: 0;
		font-size: 20px;
	}

	.current_user_level {
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		text-transform: uppercase;
		color: $main_color;
	}
}

.burger_icon {
	height: 22px;
	width: 28px;
}

.burger_menu {
	height: 100vh;
	width: 40vw;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: $white;

	&_item {
		p {
			margin: 0;
		}
	}
}

.background_blur {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background: $fade;
}

.burger_icon_container {
	@include flexible();
	justify-content: right;
}

.burger_icon_cross {
	padding: 23px 32px 10px 10px;
	width: 25px;
}

.burger_menu_item {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-weight: 700;
	line-height: 24px;

	p {
		color: $black;
	}

	&:hover {
		p {
			color: $white;
		}

		background-color: $main_color;
	}
}

.change_theme {
	@include flexible();
	justify-content: space-between;
	text-decoration: none;
	font-weight: 700;
	padding: 12px 16px;

	p {
		margin: 0;
		color: $black;
	}

}
.theme_control_icon {
	width: $left_img_weight;
	position: absolute;
}
.sun{
	right: 6px;
	bottom: 5px;
}
.moon{
	left: 6px;
	bottom: 5px;
}
.menu_disable {
	display: none;
}

@media (max-width: 769px) {
	.header {
		display: block;
	}
}

@media (max-width: 550px) {
	.burger_menu {
		width: 50vw;
	}

	.header {
		h1 {
			font-size: 25px;
		}

		&_container {
			padding: 10px 12px;
		}
	}

	.burger_icon_cross {
		padding: 15px 13px 5px 0px;
	}

	.user_level {
		p {
			font-size: 16px;
		}

		.current_user_level {
			font-size: 27px;
		}
	}
}

@media (max-width: 426px) {
	.burger_menu {
		width: 60vw;
	}

	.burger_icon {
		height: 20px;
		width: 26px;

		&_cross {
			padding: 14px 13px 5px 0px;
		}
	}

}

@media (max-width: 380px) {
	.header {
		h1 {
			font-size: 20px;
		}
	}

	.burger_menu {
		width: 68vw;
	}

	.user_level {
		p {
			font-size: 14px;
		}

		.current_user_level {
			font-size: 24px;
		}
	}

	.burger_icon {
		height: 20px;
		width: 26px;

		&_cross {
			padding: 12px 12px 5px 0px;
		}
	}
}