@import "../../../lightmode_colors.module.scss";
$button_pudding: 25px;

@mixin flex {
  display: flex;
  align-items: center;
}

.choice_level_container {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  @include flex();
  justify-content: center;

}

.form_container {
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;

  p {
    font-weight: 700;
    color: $black;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 70px;
  }
}

.buttons_container {
  @include flex();
  justify-content: center;
}

.grid_container {
  flex-wrap: wrap;
  gap: 30px;
  @include flex();
  justify-content: center;

  .button_style {
    width: 150px;
    font-size: 22px;
  }
}

@media (max-width: 1025px) {
  .form_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .grid_container {
    width: 65%;
    gap: 20px;

    .button_style {
      width: 180px;
      margin: 0;
      padding-top: $button_pudding;
      padding-bottom: $button_pudding;
    }
  }
}

@media (max-width: 586px) {
  .form_container {
    p {
      font-size: 28px;
    }
  }

  .grid_container {
    flex-direction: column;
    width: 60%;

    a {
      width: 100%;
    }

    .button_style {
      width: 100%;
    }
  }
}

@media (max-width: 486px) {
  $button_pudding: 22px;

  .form_container {
    p {
      font-size: 26px;
    }
  }

  .grid_container {
    width: 70%;

    a {
      width: 100%;
    }

    .button_style {
      width: 100%;
      padding-top: $button_pudding;
      padding-bottom: $button_pudding;
    }
  }
}

@media (max-width: 386px) {
  .form_container {
    p {
      font-size: 26px;
    }
  }

  .grid_container {
    width: 90%;

    a {
      width: 100%;
    }

    .button_style {
      width: 100%;
    }
  }
}