@import "../../../lightmode_colors.module.scss";
.checkbox {
  transform: scale(1.7);
  margin-left: 50px;
}
.sort_and_filter {
  font-style: normal;
  font-size: 20px;
  padding: 0px 10px 0px 2px;
}
