@import "../../lightmode_colors.module.scss";
@import "../../darkmode_colors.module.scss";

@mixin flexible() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightTheme {
  .button_style {
    background-color: $white;
    border: 2px solid $main_color;
    color: $black;
  }
}

.darkTheme {
  .close_button,
  .load_more,
  .button_style {
    background-color: $dark_button_color;
    color: $dark_white;
    border: none;

    &:hover {
      background-color: $dark_button_hover_color;
    }
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}

.container_content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
  gap: 20px;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}

.video {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.video_background {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: $dark_back;
  opacity: 0.5;
}

.button_style {
  width: auto;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.close_button_container {
  width: 100px;
  position: absolute;
  right: -45px;
  top: -40px;
}

.close_button {
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
}

.video_grid {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 1%;
  padding: 0px 20px 0px;
}

.button_container {
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  height: 330px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.load_more {
  margin-left: 43%;
  padding: 20px;
}

.button_container_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.sort_and_filter {
  font-style: normal;
  font-size: 20px;
  margin-left: 50px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.videos_null {
  @include flexible();
  font-size: 40px;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}
